{% load i18n %}
{% load nm %}

<p>{% blocktrans with person_get_absolute_url=person.get_absolute_url process_applying_for=process.applying_for|desc_status %}
This page collects statements of advocacy for
<a href="{{person_get_absolute_url}}">{{person}}</a>
to become a <i>{{process_applying_for}}</i>.{% endblocktrans %}</p>

{% if not request.user.is_authenticated %}
<p>{% blocktrans %}You must be logged in to submit a statement of advocacy. See the
  <a href="https://wiki.debian.org/DebianSingleSignOn">Single Sign-On page</a>
  for details and <a href="https://sso.debian.org/">https://sso.debian.org/</a>
  to obtain a suitable client certificate.{% endblocktrans %}</p>
{% endif %}

{% if request.user.is_dd %}
<p class="alert alert-warning" role="alert">{% blocktrans %}It may occur that
you are here to advocate someone while you're not sure that this someone is
ready. If this is the case, please remember that social pressure should not
drive you to do this. DAM and FrontDesk are at your disposal to
<a href="mailto:da-manager@debian.org,nm@debian.org">discuss</a> about this
matter if you feel the need for it. Don't pay attention to this warning
otherwise.
{% endblocktrans %}
{% endif %}

{% if process.applying_for == "dc_ga" %}
<p>{% blocktrans %}Advocating a Debian Contributor to have a guest account requires they have
a track record of contributing to Debian. You should read the
<a href="https://dsa.debian.org/doc/guest-account/">DSA guidelines</a> on guest
account access.{% endblocktrans %}</p>
{% elif process.applying_for == "dm" %}
<p>{% blocktrans %}See <a href="https://wiki.debian.org/DebianMaintainer#Advocating_a_Debian_Maintainer">here</a>
for details about advocating someone to be a Debian Maintainer. You should be familiar with their
existing work within Debian and believe it to be of a sufficient standard that they can be
trusted with upload rights to the packages they maintain.{% endblocktrans %}</p>
{% elif process.applying_for == "dm_ga" %}
<p>{% blocktrans %}Debian Maintainers do not require advocacy for guest accounts, but should
read the <a href="https://dsa.debian.org/doc/guest-account/">DSA guidelines</a>
and ensure that all the appropriate information has been provided.{% endblocktrans %}</p>
{% elif process.applying_for == "dd_u" or process.applying_for == "dd_nu" %}
<p>{% blocktrans %}See <a href="http://wiki.debian.org/FrontDesk/AdvocacyTips">here</a> for advocacy tips, and
<a href="https://lists.debian.org/debian-devel-announce/2010/05/msg00003.html">here</a>
for some more rationale.{% endblocktrans %}</p>
{% endif %}

<p>{% blocktrans %}Please be verbose if you can. You may want to write the advocacy in a
proper text editor and paste it in the form when you are happy with it.{% endblocktrans %}</p>

{% if warn_dm_preferred %}
<p><b>{% trans "Warning:" %}"</b> {% blocktrans with person_fullname=person.fullname %}upload rights have been requested,
and {{person_fullname}} does not seem to be a DM. The general rule is that
<a href="http://www.debian.org/devel/join/">before applying as DD, you should have been a DM for about six
months</a>. You can still advocate {{person_fullname}}, just please take a moment to elaborate on this.{% endblocktrans %}</p>
{% endif %}

<p><b>{% trans "Note:" %}</b> {% blocktrans %}An email with your advocacy message will be sent to the
   <a href="http://lists.debian.org/debian-newmaint">debian-newmaint</a>
   <em>public</em> mailing list.{% endblocktrans %}</p>


{% if edit %}
<p>{% blocktrans %}Paste a signed advocacy message in the form below, and it will
automatically be posted to <a href="https://lists.debian.org/debian-newmaint/">debian-newmaint</a>.
(Note: The message needs to be written in English.){% endblocktrans %}</p>

<p>{% trans "An example advocacy message intent can be something like this:" %}
<pre>
For nm.debian.org, at {{now|date:"Y-m-d"}}:
I support {{person}}'s request to become a {{process.applying_for|desc_status}}.
I have worked with {{person.fullname}} on X and Y
for [T time] and I consider them as having sufficient technical competence.

[More details of your interactions with the applicant here.]

I have personally worked with {{person}}
(key {{person.fpr}}) for [T time], and I know {{person.fullname}}
can be trusted to {% spaceless %}
  {% if process.applying_for == "dc_ga" or process.applying_for == "dm_ga" %}
    <span>have access to developer machines</span>
  {% elif process.applying_for == "dm" %}
    <span>have upload rights for their own packages</span>
  {% elif process.applying_for == "dd_nu" %}
    <span>be a full member of Debian</span>
  {% elif process.applying_for == "dd_u" %}
    <span>be a full member of Debian, and have unsupervised, unrestricted upload rights</span>
  {% endif %} {% endspaceless %}, right now.
</pre>
{% endif %}
