{% extends "nm2-base.html" %}
{% load nm %}
{% load i18n %}
{% load none_if_epoch %}

{% block head %}
{{block.super}}
<script type="text/javascript">
(function($) {
"use strict";

function main()
{
    let table = $("#perstable").DataTable({
        paging: false,
        order: [],
        columns: [
          {
            render: (data, type, row, meta) => {
              if (type == "sort")
              {
                  const status = $(data).data("status");
                  const st = window.nm2.ALL_STATUS[status];
                  return st.sequence;
              }
              return data
            },
          },
          {
            render: (data, type, row, meta) => {
              if (type == "sort")
                return $(data).attr("datetime");
              return data;
            },
          },
          null, null,
        ],
    });
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}

{% block content %}

{% if status %}
<h1>{% trans "Debian New Member - Status" %} {{status_sdesc}}</h2>
{% else %}
<h1>{% trans "Debian New Member - People list" %}</h2>
{% endif %}

<div id="intro">
{% blocktrans with people_length=people|length %}This is a list of all the
<b>{{people_length}}</b> people known in the database who have status
"{{status_ldesc}}". You can sort the table by clicking/shift+clicking on
headers.{% endblocktrans %}

{% blocktrans %}Note that the data import for things that were historically not
handled by the NM website is still incomplete.{% endblocktrans %}
</div>

<table id="perstable" class="table table-sm mt-3">
<thead>
    <tr>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Since" %}</th>
        <th>{% trans "Account name" %}</th>
        <th>{% trans "Name" %}</th>
    </tr>
</thead>
<tbody>
    {% for p in people %}
    <tr class="{{p.simple_status}}">
        <td><span data-status="{{p.status}}">{{p|desc_status}}</span></td>
        <td><time datetime="{{p.status_changed|none_if_epoch|date:'c'}}">{{p.status_changed|none_if_epoch|date:"Y-m-d"|default:"(unknown)"}}</time></td>
        <td><a href="{{ p.get_absolute_url }}">{{p.ldap_fields.uid|default:"None chosen yet"}}</a></td>
        <td><a href="{{ p.get_absolute_url }}">{{p.fullname}}</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}

